.faMoon {
  color: #f1c40f;
}
.faSun {
  color: #f39c12;
}
.prevDate,
.nextDate {
  font-size: 20px;
}
.backHome {
  font-size: 28px;
}
.bars {
  font-size: 28px;
}
.check {
  font-size: 14px;
}
.dragUp {
}
.dragDown {
}
.ellipsisVertical {
  font-size: 24px;
}
.x {
  font-size: 18px;
}
.magnifyingGlass {
  font-size: 14px;
}
