.faMoon {
    color: #f1c40f;
}

.faSun {
    color: #f39c12;
}

.prevDate,
.nextDate {
    font-size: 20px;
}

.backHome {
    font-size: 28px;
}

.bars {
    font-size: 28px;
    margin-right: 10px;
}

.check {
    font-size: 14px;
}

.dragUp {

}
.dragDown {
    
}